<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/common_inertia.xacro"/>
    <xacro:macro name="camera_xacro" params="camera_name xyz rpy">
    <!-- gazebo中添加颜色 -->
    <gazebo reference="${camera_name}_link">
        <material>Gazebo/Blue</material>
    </gazebo>
        <!-- 机器的摄像头 -->
        <link name="${camera_name}_link">
        <!-- 部件的外观描述 -->
            <visual>
            <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.02 0.10 0.02"/>
                </geometry>
                <material name="blue">
                    <color rgba="0.0 0.0 1.0 0.5"/>
                </material>
            </visual>
            
            <collision>
            <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.02 0.10 0.02"/>
                </geometry>
                <material name="blue">
                    <color rgba="0.0 0.0 1.0 0.5"/>
                </material>   
            </collision>
            <xacro:box_inertia m="0.01" w="0.02" h="0.10" d="0.02" />
        </link>

        <link name="${camera_name}_optical_link"></link>
        
        <!-- 机器人的关节，用于连接camera_link和base_link -->
        <joint name="${camera_name}_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${camera_name}_link"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>

        <joint name="${camera_name}_optical_joint" type="fixed">
            <parent link="${camera_name}_link"/>
            <child link="${camera_name}_optical_link"/>
            <origin xyz="0 0 0" rpy="${-pi/2} 0.0 ${-pi/2}"/>
        </joint>
    </xacro:macro>

</robot>