<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="laser_xacro" params="laser_name xyz rpy">

        <!-- 雷达支撑杆 laser_cylinder_link -->
        <link name="${laser_name}_cylinder_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <cylinder radius="0.01" length="0.1"/>
                </geometry>
                <material name="gray">
                    <color rgba="0.5 0.5 0.5 1.0"/>
                </material>
            </visual>
        </link>

        <!-- 机器的激光雷达 -->
        <link name="${laser_name}_link">
        <!-- 部件的外观描述 -->
            <visual>
            <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>
                <material name="blue">
                    <color rgba="0.0 0.0 1.0 0.5"/>
                </material>
            </visual>
        </link>
        <!-- 机器人的关节，用于连接laser_link和laser_cylinder_link -->
        <joint name="${laser_name}_joint" type="fixed">
            <parent link="${laser_name}_cylinder_link"/>
            <child link="${laser_name}_link"/>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        </joint>
        <joint name="${laser_name}_cylinder_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${laser_name}_cylinder_link"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>
    </xacro:macro>

</robot>